@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #43345d;
}
a{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
}
a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #6c4ba5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    Letter-spacing: 2px;
    font-size: 18px;
}
a span:nth-child(2){
    color: #6c4ba5;
    background-color: #fff;
    overflow: hidden;
    z-index: 2;
    transition: .5s;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 42% 49%);
}
a span:nth-child(2):hover{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 55%);
}
a span:nth-child(1):hover ~ span:nth-child(2){
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 52%);

}